<div class="jumbotron">
  <div class="container">
    <h1>SnapCar</h1>
  </div>
</div>
<div class="container">
	{{#link-to 'history' class='btn btn-primary'}}Historique{{/link-to}}
	{{#link-to 'reservation' class='btn btn-primary'}}Reservation{{/link-to}}
	<br>
	<br>
  {{outlet}}
</div>
