<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <td>Chauffeur</td>
      <td>Trajet</td>
      <td>info</td>
    </tr>
  </thead>
  <tbody>
    {{#each item in resa}}
    <tr>
      <td>{{item.rider}}</td>
	  <td>de {{item.start}} à {{item.end}}</td>
	  <td>{{item.info}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>

{{!outlet}}
